<app-header></app-header>

<div class="container">
  <div class="mt-5">
    <div *ngFor="let item of pizzaPurchase" class="mt-2">
      <div class="col-lg-12">
        <div class="d-flex justify-content-center">
          <div class="card mb-3" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../assets/pizzas/{{item.picture}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title mt-4">{{item.name}}</h1>
                  <div class="row d-flex">
                    <div class="col-lg-3">
                      <p class="purchase">{{item.option}}</p>
                    </div>
                    <div class="col-lg-3">
                    <p class="purchase" >{{item.priceTotal| number : '.2-2'}}€</p>
                </div>
                <div class="col-lg-3">
                    <p class="purchase">{{item.quantity}}x</p>
                </div>
                <div class="col-lg-3">
                    <fa-icon class="trash"  [icon]="faTrashCan"></fa-icon>
                  </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--FOOTER-->

  <div class="container-fluid footer">
    <div class="row">
      <div class=" d-flex justify-content-between">
        <div>
          <button [routerLink]="['/main']" class="btn btn-danger text-center buttonRetour ">RETOUR AUX PRODUITS</button>
        </div>
        <div>
          <button [routerLink]="['/purchase']" class="btn btn-success text-center buttonPanier ">PAYER LA
            COMMANDE</button>
        </div>
      </div>
    </div>
  </div>







</div>
