.start{
    height: 100%;
    cursor: pointer;
    background-color: red;
}

.start h1{
    color: white;
    font-size: 34px;
    padding-top: 250px
}

.start p{
    color: white;
    position: absolute;
    bottom: 0;
    right: 5%;
}
