.login{
    width: 100%; 
    background-color: #E20131;
    padding-top: 80px;    
}

@media (min-width: 500px) { 

    .login{
        width: 100%; 
        height: 100vh;
        background-color: #E20131;
        padding-top: 120px;    
    }

 }

.button{
    width: 200px;
    height: 80px;
}
.buttonReturn{
    width: 300px;
    height: 80px;
    margin-bottom: 27px;
}

.form-control{
    height: 72px;
}

input
{
    font-size:18px;
}

.card-body:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}


@media (max-width: 1400px) { 

    .buttonReturn{    
        margin-bottom: 47px;
    }

 }

 @media (max-width: 1200px) { 

    .buttonReturn{    
        margin-bottom: 68px;
    }

 }

 .ng-valid[required]{
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form){
    border-left: 5px solid #a94442;
}

.buttonCreate{
    color: white;
}

.demo{
    color: white;
    margin-bottom: 30px;
}

.span{
    font-size: 17px;
}

@media (max-width: 453px) { 

    .span{
        font-size: 14px;
    }

 }