.main{
    padding-top: 80px;    
}

.buttonDetail{
    width: 170px;
    height: 40px;
}

h2{
    margin-bottom: 0;
}

.div-price{
    height: 75px;
}

.cold {
    color: rgb(48, 95, 248);
}

.hot{
    color: red;
}

.hot-name{
    font-size: 15px;
    font-weight: bold;
    
}

.hot-price{
    font-size: 20px;
    font-weight: bold
    
}

.cold-name{
    font-size: 15px;
    font-weight: bold;
}

.cold-price{
    font-size: 20px;
    font-weight: bold;
}

fa-icon{
    cursor: pointer;
    font-size: 70px;
}

.arrowLeftEnable{
    cursor:default;
    color: #ffffff;
}


h1{
    border: 1px solid rgb(216, 215, 215);
    padding: 15px;
    
}

/*FOOTER*/

.buttonRetour{
    width: 150px;
    height: 80px;    
}

.buttonPanier{
    width: 272px;
    height: 80px;    
}

@media (max-width: 450px) { 

    .buttonPanier{
        width: 150px;   
    }

}