.main{
    padding-top: 80px;    
}

.buttonDetail{
    width: 170px;
    height: 40px;
}

h2{
    margin-bottom: 0;
}

.div-price{
    height: 75px;
}

.cold {
    color: rgb(48, 95, 248);
}

.hot{
    color: red;
}

.hot-name{
    font-size: 15px;
    font-weight: bold;
    
}

.hot-price{
    font-size: 15px;
    font-weight: bold
    
}

.cold-name{
    font-size: 15px;
    font-weight: bold;
}

.cold-price{
    font-size: 15px;
    font-weight: bold;
}

fa-icon{
    cursor: pointer;
    font-size: 70px;
}

.arrowLeftEnable{
    cursor:default;
    color: #ffffff;
}


h1{
    border: 1px solid rgb(216, 215, 215);
    padding: 15px;
    
}

.animate-charcter
{
    font-size: 34px;    
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #cf1515 20%,
    #464343 50%,
    #474343 70%,
    #0c0b0b 150%
    
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s reverse infinite;
  display: inline-block;
      font-size: 34px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}