<!--<app-header></app-header>
<div class="container mt-5 ">
    <div class="form-container col-12 mt-5">
        <h2>Gestion des pizzas sauvegardées</h2>
        <h3>Espace pour consulter, modifier ou supprimer les pizzas de votre carte.</h3>
        <fa-icon class="info pe-2" [icon]="faInfo"></fa-icon>
        <span>Mode démonstration: La gestion des photos est indisponible dans ce mode.</span>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Détails</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pizzas">
                    <td><img src="../../assets/pizzas/{{item.picture}}" alt=""></td>

                    <td><strong>{{item.name}}</strong><br>
                        Prix froid: {{item.priceCold| number : '.2-2'}}€<br>
                        Prix chaud: {{item.priceHot| number : '.2-2'}}€<br>
                        Coût points: {{item.bonus}}P
                    </td>
                    <td>
                        <fa-icon [routerLink]="['/detail', item.id]" [icon]="faEye"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex align-items-center flex-column">
            <button routerLink="/admin" class="btn btn-danger buttonReturn ">RETOUR</button>
        </div>
    </div>
</div>-->
