img{
    max-width: 300px;
}

fa-icon{
    font-size: 25px;
}

.buttonReturn{    
    width: 300px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 77px;
}

@media (max-width: 510px) { 

    img{
        max-width: 100px;
    }

 }

 .info{
     font-size: 15px;
 }

 .choiceIcon fa-icon{
     font-size: 35px;
     cursor: pointer;
 }

 .btnNon{
     width: 150px;
 }