<app-header></app-header>
<div class="container mt-5 ">
  <div class="form-container col-12 mt-5">
    <h2>Gestion des pizzas sauvegardées</h2>
    <h3>Vous êtes sur le point de modifier la pizza ci-dessous:</h3>
    <fa-icon class="info pe-2" [icon]="faInfo"></fa-icon>
    <span>Mode démonstration: La gestion des photos est indisponible dans ce mode.</span>
  </div>
  <div class="col-lg-12 mt-5">
    <form #form="ngForm" (ngSubmit)="submitEdit()">
      <div class="form-group">
        <label for="nom"><strong>Nom</strong></label>
        <input type="text" required class="form-control mb-3" id="nom" name="nom" #title="ngModel" maxlength="15"
          [(ngModel)]="pizzaForm.name">
      </div>
      <div class="form-group">
        <label for="photo"><strong>Photo</strong></label>
        <input type="text" disabled class="form-control mb-3" id="photo" name="photo" #title="ngModel" maxlength="15"
          [(ngModel)]="pizzaForm.picture">
      </div>
      <div class="form-group">
        <label for="prixFroid"><strong>Prix froid en €</strong></label>
        <input type="text" required class="form-control mb-3" id="prixFroid" name="prixFroid" #resume="ngModel" maxlength="5"
          [(ngModel)]="pizzaForm.priceCold ">
      </div>
      <div class="form-group">
        <label for="prixChaud"><strong>Prix chaud en €</strong></label>
        <input type="text" required class="form-control mb-3" id="prixChaud" name="prixChaud" #resume="ngModel" maxlength="5"
          [(ngModel)]="pizzaForm.priceHot">
      </div>
      <div class="form-group">
        <label for="points"><strong>Coût en points</strong></label>
        <input type="text" required class="form-control mb-3" id="points" name="points" #resume="ngModel" maxlength="2"
          [(ngModel)]="pizzaForm.bonus">
      </div>
      <div *ngFor="let item of pizzaForm.composants; let index = index"   class="form-group">
         
        <label for="ingredient{{index}}"><strong>Ingrédient {{index +1}}</strong></label>
        
        <input type="text" class="form-control mb-3" id="ingredient{{index}}" name="ingredient{{index}}"
            #resume="ngModel" maxlength="20" [(ngModel)]="pizzaForm.composants[index]">
        

    </div>
    
      <div class="form-group">
        <label for="content"><strong>Information santé</strong></label>
        <input type="text" required class="form-control mb-5" placeholder="Contenu de l'article" id="content" name="content"
          #content="ngModel" maxlength="100" [(ngModel)]="pizzaForm.information">
      </div>
      <div class="bouton-form d-flex align-items-center flex-column mt-3">
        <button class="btn btn-warning buttonEdit" [disabled]="!form.valid" type="submit">MODIFIER</button>
      </div>
    </form>
  </div>
  <div class="d-flex align-items-center flex-column">
    <button [routerLink]="['/view',pizzaForm.id]" class="btn btn-danger buttonReturn ">RETOUR</button>
  </div>
</div>



<!-- Code si l'on veut une boucle:
<div *ngFor="let item of pizza.composants; let index = index" class="form-group">
         
               
                <label for="ingredient{{index}}"><strong>Ingrédient {{index + 1}}</strong></label>
                <input *ngIf="pizza.composants" type="text" class="form-control mb-3" id="ingredient{{index}}" name="ingredient{{index}}"
                    #resume="ngModel" maxlength="20" [(ngModel)]="pizza.composants[index]">

            </div>
-->
