<app-header></app-header>
<div class="home">
<div class="container">
  <div class="row d-flex justify-content-evenly">
    <div class="col-lg-6 col-md-6 col-sm-8 mb-3  d-flex justify-content-center">
      <div [routerLink]="['/main']" class="card text-center " style="width: 35rem">
        <div class="card-body">
          <h1 class="strong card-title"><strong>COMMANDER</strong></h1>
          <p class="card-text"><strong>Commandez sur la borne ou à distance sur votre mobile.</strong></p>
          <img class="pictureSize" src="../assets/img/pizzaEnter.png" alt="">
        </div>
      </div>
    </div>
    <div [routerLink]="['/login']" class="col-lg-6 col-md-6 col-sm-8 d-flex justify-content-center">
      <div class="card text-center" style="width: 35rem">
        <div class="card-body">
          <h1 class="card-title"><strong>ME CONNECTER</strong></h1>
          <p class="card-text upper-case"><strong> * Gagner et cumulez des points à chaque achat !</strong></p>
          <img class="pictureSize" src="../assets/img/loginEnter.png" alt="">
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-end">
    <div class="col-lg-2 col-2"></div>
    <img src="../../assets/img/arrowDraw.png" alt="">
  </div>
</div>
</div>
<div class="container">
  <div class="row d-flex justify-content-evenly">
    <button [routerLink]="'/'" type="submit" class="btn btn-secondary text-center buttonReturn mt-5">RETOUR A LA PAGE D'ACCUEIL</button>
    
  </div>
</div>
</div>


