<app-header></app-header>

<!--CARD PIZZA-->

<div class="container d-flex justify-content-center details">
    <div class="card mb-3" style="max-width: 1600px;">
        <div class="row g-0">
            <div class="col-xl-6 col-lg-12 col-md-12">
                <img src="../../assets/pizzas/{{pizzas.picture}}" class="card-img-top picture" alt="...">
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 ">
                <div class="card-body text-center">
                    <h1>{{pizzas.name}}</h1>
                    <h2>Ingrédients:</h2>
                    <div class="divComposant">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant1}}</p>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant2}}</p>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant3}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant4}}</p>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant5}}</p>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant6}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant7}}</p>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant8}}</p>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="composant">{{pizzas.composant9}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 divPrice">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1 me-4">
                                    <fa-icon class="faCold" [icon]="faCold"></fa-icon>
                                </div>
                                <div class="col-xl-8 col-lg-4 col-md-4 col-sm-6 col-8">
                                    <p class="priceCold">{{pizzas.priceCold | number : '.2-2'}}€</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1 me-4">
                                    <fa-icon class="faHot" [icon]="faHot"></fa-icon>
                                </div>
                                <div class="col-xl-8 col-lg-4 col-md-4 col-sm-6 col-8">
                                    <p class="priceHot">{{pizzas.priceHot | number : '.2-2'}}€</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--CARD INFO-->

<div class="container d-flex justify-content-center mb-5">
<div class="card">
    <div class="card-header">
        <fa-icon class="faInfo mt-2" [icon]="faInfo"></fa-icon>
    <span class="ms-2">Information santé :</span> 
    </div>
    <div class="card-body">
      <p *ngIf="!pizzas.information" class="card-text">Aucune information relative à cette pizza.</p>
      <p *ngIf="pizzas.information" class="card-text">{{pizzas.information}}</p>
    </div>
  </div>
</div>


<!--ADD TO CART-->

<div class="container d-flex justify-content-evenly mt-3 mb-4">
    <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 col-6">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-5 col-5">
                <fa-icon class="faColdButton" [icon]="faRemove"></fa-icon>
            </div>           
            <div class="col-lg-4 col-md-6 col-sm-5 col-5">
                <fa-icon class="faColdButton" [icon]="faAdd"></fa-icon>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 col-6">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-5 col-5">
                <fa-icon class="faHotButton" [icon]="faRemove"></fa-icon>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-5 col-5">
                <fa-icon class="faHotButton" [icon]="faAdd"></fa-icon>
            </div>
        </div>
    </div>
</div>


<!--FOOTER-->

<div class="container-fluid footer">
    <div class="row">
        <div class=" d-flex justify-content-between">
            <div>
                <button [routerLink]="['/main']" class="btn btn-danger text-center buttonRetour ">RETOUR</button>
            </div>
            <div>
                <button class="btn btn-success text-center buttonPanier ">ACCEDER A MON PANIER</button>
            </div>
        </div>
    </div>
</div>